<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xd.usercenter.mapper.StudentMapper">

    <resultMap id="BaseResultMap" type="com.xd.usercenter.model.domain.Student">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="stuName" column="stuName" jdbcType="VARCHAR"/>
            <result property="sex" column="sex" jdbcType="VARCHAR"/>
            <result property="age" column="age" jdbcType="INTEGER"/>
            <result property="studyDate" column="studyDate" jdbcType="INTEGER"/>
            <result property="major" column="major" jdbcType="VARCHAR"/>
            <result property="stuClass" column="stuClass" jdbcType="VARCHAR"/>
            <result property="tel" column="tel" jdbcType="VARCHAR"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,createTime,updateTime,
        stuName,sex,age,
        studyDate,major,stuClass,
        tel,isDelete
    </sql>
</mapper>
